body {
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #3b82f6, #06b6d4);
}

.dark .gradient-text {
  background-image: linear-gradient(90deg, #60a5fa, #22d3ee);
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.dark .service-card:hover {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
}

.theme-toggle {
  transition: all 0.3s ease;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.dark input:focus,
.dark textarea:focus {
  box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.5);
}

.custom-landing {
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.6);
}
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: floatUpDown 3s ease-in-out infinite;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + label + .dropdown {
  display: flex;
}
